[2015-12-29 23:58] kellysutton opened #2 "Use namespaced animation names to avoid clobbering values"
Currently we use `fadeZoomIn` and `fadeZoomOut`, which could clobber something else. These should be prefixed with `drift`.

[2015-12-30 03:58] paulstraw commented on #2
Ah, this was fixed in fab7a7dc5c6a720e7ccc9231b8ee16f46473c811

[2015-12-30 03:58] #2 closed

[2016-01-08 19:35] paulstraw opened #7 "Fix `HAS_ANIMATION` when loaded before `document.body` is available"

[2016-01-08 21:10] #7 closed

[2016-01-08 21:26] jackmcdade opened #9 "Grow animation"
Is there any way to have the Drift image "grow" from the original, like the way http://fat.github.io/zoom.js/ does?

[2016-01-08 21:39] paulstraw commented on #9
Hmmmm. That specific example looks like more of a [Luminous](https://github.com/imgix/luminous) thing. With Drift, you could do something similar-ish with `inline: true` and messing with the CSS animation, but it would be limited to the size of the containing element. If you don't mind it always coming from the center of the screen, you could use `inline: false` and tweak the CSS animation. Either

[2016-01-08 21:39] jackmcdade commented on #9
Rats, i posted on the wrong repo. My bad!

[2016-01-08 21:40] paulstraw commented on #9
Hah! No problem.

[2016-01-08 21:40] #9 closed

[2016-01-22 21:07] Dan9boi opened #12 "Error when installing via Bower"
I get this error when installing drift through bower.

![bower error](https://cloud.githubusercontent.com/assets/1523780/12522990/586d736a-c154-11e5-8492-5e8e7dc21a39.png)

[2016-01-22 21:10] paulstraw commented on #12
Hey @Dan9boi, good catch. This is fixed in `1.0.5`, sorry about that!

[2016-01-22 21:10] #12 closed

[2016-02-08 21:28] paulstraw opened #13 "Problems using Drift with NPM + Webpack + Babel 5.8"
@athal7 is running into an issue using Drift with his JS build setup. Here's an overview of what he's trying to do, to help me set up a minimal replica:

Webpack compiles an index-style JS file with syntax equivalent to the following:

[code]

This results in a strange object at `window.MyNamespace.Legacy.Drift`: ![err](https://cloud.githubusercontent.com/assets/117288/12899752/d5faec98-ce67-11e5-

[2016-02-12 06:57] paulstraw commented on #13
Hey @athal7, I finally got a chance to dig into this a bit more. I was able to get it working for your setup with the following:

[code]

Can you give that a shot and let me know if it works?

[2016-02-12 14:39] athal7 commented on #13
@paulstraw thanks for taking a look. Unfortunately no change in behavior here. Happy to pair again if that would be helpful

[2016-02-14 01:05] paulstraw commented on #13
Hmm, that's odd. Can you send through your package.json so I can grab all the version numbers etc?

[2016-02-14 02:16] athal7 commented on #13
Oh did you release a new version to go along with this?
On Sat, Feb 13, 2016 at 8:05 PM Paul Straw <notifications@github.com> wrote:

[2016-02-14 02:17] paulstraw commented on #13
No, same version. Still 0.1.5.

[2016-02-16 16:46] athal7 commented on #13
only 0.1.4 is published on npm: https://www.npmjs.com/package/drift-zoom

[2016-02-16 21:07] paulstraw commented on #13
Ah, sorry about that! 0.1.5 actually didn't change anything for NPM users, it was just a Bower fix.

[2016-03-01 12:29] juhaelee opened #14 "Error in destroy function for Drift"
I receive the following error when trying to call Drifty's destroy function:
[code]
Shouldn't destroy be:
[code]
?

I can open a pull request if that is suppose to be the intended function

[2016-03-01 12:30] paulstraw commented on #14
Yup, thanks for opening an issue. I'd be quite happy to accept a PR for that fix! :smile:

[2016-03-11 22:05] paulstraw commented on #14
Oh. This was taken care of by #16. Closing.

[2016-03-11 22:05] #14 closed

[2016-03-21 20:54] paulstraw commented on #13
Hey @athal7, 0.1.7 should _finally_ fix this issue entirely, once and for all. Let me know when you have a chance to give it a shot!

[2016-03-23 13:33] athal7 commented on #13
Thanks @paulstraw! As it turns out, our team has decided to go with a different implementation and I'm working on something else at the moment :(. Hopefully these changes will be helpful for other users though!

If it would be beneficial to you, I can try to double check that it works since you did all of this work.

[2016-03-24 18:04] paulstraw commented on #13
That'd be great if you can, but of course no big deal either way. Thanks for the update! I'll go ahead and close this issue.

[2016-03-24 18:04] #13 closed

[2016-03-25 15:02] athal7 commented on #13
Thanks @paulstraw

[2016-03-26 01:49] meandavejustice opened #18 "Add demo link to description"
Would be easier to find the demo if it were added to the description bar for the repository

[2016-04-03 21:31] paulstraw commented on #18
Great point, thanks @meandavejustice! I added a link to our blog post introducing Luminous and Drift, which has several examples for both of them.

[2016-04-03 21:31] #18 closed

[2016-04-04 16:31] maetz3 opened #19 "destroy function, imageswap"
Setup:
[code]

images with data-trigger on click
replace values
`<a data-zoom="this image src" data-trigger="this value"><img src etc></a>`

in this case: Image2 + 4 trigger = 1

js:
[code]
scenario:
On click image2 and this trigger value is 1, Drift works perfect.
On click Image3 and trigger value is 0, Drift destroy works perfect.

But:
click image2 then
click image4 then
click image3 with trigg

[2016-04-09 00:07] paulstraw commented on #19
Hey @maetz3, I'm not totally sure I follow what all is happening here. Could you possibly set up a CodePen to showcase this issue?

[2016-04-09 02:28] maetz3 commented on #19
Hey,

hope this help (a basic function)
http://jsbin.com/dihasibaza/

if only one image present, destroy works perfect (resize, etc).
my thought was : if a picture is less than 800px then remove zoom otherwise zoom.

in the jsbin case: Drift stop at 0 but if 1, Drift append and append etc etc

my current solution , if data-trigger 1 .length then zoom all images with 0 and 1.
if data-trigger 1 not

[2016-04-11 22:14] paulstraw commented on #19
Hey @maetz3, After looking through this example, I'm still not totally sure what your goal is here. Can you try to rephrase it, possibly?

[2016-04-12 12:01] maetz3 commented on #19
Hi,
i try to disable zoom on images, if they < 600x600
If > 600 trigger 1 else  trigger 0
On click event, Drift destory and reinit if trigger 1.

Work: If one Image, Init Switch works. Or if click Trigger 1 0 1 0
Not Work: If more Images and Trigger 0 and 1, destroy fails after Trigger 1 1 0 click
also tested: destroy and then null zoomimg (works on resize with reinit)
DOM zoomimg = null but zoom

[2016-04-13 04:34] cjroebuck opened #20 "Can't get it to magnify?!"
I can't get it to actually magnify the image it is hovering over

![image](https://cloud.githubusercontent.com/assets/12208/14482864/1bd84c52-0139-11e6-8c7d-9316ec6787c5.png)

my options:

[code]

trigger and sourceAttribute seem to be working ok but just can't get the magification affect. I've also tried setting zoomFactor: 3 and nothing changed.

any ideas what the problem may be? thanks

[2016-04-13 04:53] cjroebuck commented on #20
Just fixed it.. problem was zurb foundation setting all img tags to `max-width: auto;` disabling that rule for drift like so `.drift-zoom-pane img { max-width: none; }` was the fix.

[2016-04-13 04:53] #20 closed

[2016-04-13 08:31] paulstraw commented on #20
Ah, great. Thanks for the update @cjroebuck!

[2016-04-29 21:36] aghouseh opened #21 "Animation End not firing on Safari, IE 11"
I'm seeing the `drift-opening` and `drift-closing` classes stuck on the exposed `<div class="drift-zoom-pane"/>` after hovering out of the element on Safari 9.1 and IE11. Guessing the issue comes down to a non-prefixed animationend event?

[2016-04-29 21:47] paulstraw commented on #21
Interesting, taking a look at this now.

[2016-04-29 22:03] aghouseh commented on #21
I was able to manually "complete" the closing by triggering an animationend event in safari directly on the drift-zoom-pane node.

[2016-04-29 23:04] paulstraw commented on #21
Hmm. Oddly, I'm not able to replicate this in Safari 9.1 on OS X 10.11.4 (tested using the [demo page](http://imgix.github.io/drift/)). Are there any other steps you're taking to reproduce this?

[2016-04-30 16:52] WrightSideUp opened #22 "Feature Request: Delay before zooming"
Thanks for putting this out there.  It is working really well for my clients.

Right now the zoomPane is triggered immediately on a mouseenter event.  This can be a little disconcerting if the user is just moving past the trigger element and the mouse happens to touch it.

I would like to have an option to 'debounce' the zoom so that the mouse has to both enter and stay in the trigger element for

[2016-05-02 19:35] aghouseh commented on #21
Thanks for the quick reply; I'm not able to reproduce it using the demo, so I will try to boil down a test case.

[2016-05-02 19:36] paulstraw commented on #21
Very cool, thanks a lot @aghouseh.

[2016-05-02 19:42] aghouseh commented on #21
In the meantime, here's a screengrab of it happening to show I'm not insane :) http://i.will.copy.it.to.the.nuggetboard.com/270K3D0N0U2z

[2016-05-02 20:06] aghouseh commented on #21
Alright, so it's related to the `animation: noop;` base style. If I edit the stylesheet in the Safari console and remove the custom themed `animation: drift-fadeZoomOut 210ms ease-in;` from the `.drift-zoom-pane.drift-closing`, it never fires the cleanup code. Here's a screengrab of it in action: http://i.will.copy.it.to.the.nuggetboard.com/1W3K141r2z42

[2016-05-02 20:42] paulstraw commented on #21
Great catch, figuring out a workaround now.

[2016-05-02 21:43] #21 closed

[2016-05-03 19:12] paulstraw commented on #22
Great idea @WrightSideUp! I've added `hoverDelay` and `touchDelay` params. Just pass an integer to the option you want to use that specifies the delay in milliseconds (e.g., `hoverDelay: 330`). This has been released as version `0.2.0`.

[2016-05-03 19:12] #22 closed

[2016-05-07 14:06] lillehummer opened #25 "Zooming on click."
Hi there,

I am trying to enable zooming on click, but so far did not succeed. Once I add it to a click event it has to trigger to 'mouseenter' event but when I try to do this using $('.image').trigger('mouseenter'); nothing seems to happen.

I also tried:

[code]

But this gives weird behavior and the destroy() function does not remove the zoom screen anymore.

Any clues how this could be achieve

[2016-05-10 19:52] mseymour opened #26 "Feature request: Show zoom bounding box on hover"
There should be a way to have a visual bounding box on the image when hovering.

[2016-05-14 00:01] paulstraw commented on #25
This isn't currently supported behavior. Can you explain what the end goal for the interaction flow is? If I'm understanding correctly, you want it to work like this, correct?

1. User mouses over the thumbnail, nothing happens.
2. User clicks on the thumbnail, triggering a "zoom mode".
3. As the user moves their mouse, Drift works as it would normally.
4. User clicks again (or mouses out) to deac

[2016-05-14 08:06] lillehummer commented on #25
Hi Paul,

Thanks for your reply, that is exactly what I am trying to achieve. Digging deeper into your code I couldn't find anything else I could try. Any clue how it could do this? Thanks a bunch and have a good day!

[2016-05-20 21:58] paulstraw commented on #25
Drift doesn't currently support this use case, but I wouldn't be opposed to adding it if it could be done without a large increase in complexity. Would you have any interest in submitting a PR for this, @lillehummer?

[2016-05-21 14:11] lillehummer commented on #25
Hi Paul, actually, why not, great idea. :) I am in a busy period right now, but put it on my agenda and will try to work on a PR.

[2016-05-21 14:11] #25 closed

[2016-05-23 19:16] paulstraw commented on #26
@mseymour Totally, that's a feature I've wanted myself since day one! I'm going to try to get this implemented this week. 👍

[2016-05-27 03:30] #26 closed

[2016-05-27 04:29] paulstraw commented on #26
Alrighty @mseymour, this is all set in `0.3.0`! I added `hoverBoundingBox` and `touchBoundingBox` options.

[2016-05-31 12:06] mseymour opened #28 "TypeError: null is not an object (this.settings.containerEl.appendChild / this.settings.containerEl.removeChild)"
With `hoverBoundingBox` and `touchBoundingBox` set to `true`, on hover with the latest version of Drift, I get these error messages, as well as the bounding box not appearing directly over the image:

    [Error] TypeError: null is not an object (evaluating 'this.settings.containerEl.appendChild')
    	show (app-2622524ee1.js:1927)
    	_show (app-2622524ee1.js:2305)
    	_handleEntry (app-2622524

[2016-05-31 12:08] mseymour commented on #26
There's a bit of an issue regarding it over at issue #28. I'm not sure if it's my setup or if it's an issue with the library itself.

[2016-05-31 16:59] paulstraw commented on #28
Hmm, I haven't seen this error. Would it be possible for you to set up a reduced test case on codepen.io or similar? That would be a huge help for debugging.

[2016-05-31 18:11] mseymour commented on #28
Here you go: http://codepen.io/mseymour/pen/YWPWPw

It seems to happen when switching tabs.

[2016-06-07 18:51] paulstraw commented on #28
Strange. What browser are you seeing this in? I'm not able to replicate it in your CodePen, but there are some strange sizing issues going on there (seems like just a CSS bug though).

[2016-06-08 12:49] mseymour commented on #28
Latest Safari, 9.1.1 (11601.6.17).

[2016-06-10 21:03] dw2 opened #29 "Toggling fullscreen in Chrome breaks zoom/pan"
**Mac** Version 10.11.5
**Chrome** Version 51.0.2704.84 (64-bit)

**To reproduce:**
 - Browser is windowed
 - Navigate to https://imgix.github.io/drift/
 - Mouseover zoom pane (works)
 - Go full screen
 - Mouseover zoom pane (doesn't work)

**Notes:**
 - Also works in reverse (starting full screen and going to windowed mode)
 - I've attempted a workaround by destroying the drift instance and re-in

[2016-06-10 21:41] dw2 commented on #29
Also note that this appears to only be an issue with Chrome. Safari 9.1.1 and Firefox 47 both work as expected.

[2016-06-13 18:33] paulstraw commented on #28
Hey @mseymour, I'm still unable to reproduce this error in Safari. Are there any more steps to making it happen?

[2016-06-13 18:54] paulstraw commented on #29
Hey @dw2, this seems to be a regression of some sort with Chrome 51. Have you noticed anywhere else that mouse events work oddly? There are no errors in the console, it just appears to be not firing most mouse events for some reason. This is a tricky one to debug.

[2016-06-13 23:23] dw2 commented on #29
I haven't. Though sometimes I can click+drag in the zoom pane and it will fix itself.

[2016-06-13 23:57] paulstraw commented on #29
Yeah, I'm seeing that same behavior. Hmmm. I'm going to let this percolate in my head for a bit and see if a solution springs to mind. Right now I'm at a bit of a loss.

[2016-06-14 14:04] mseymour commented on #28
I don't seem to be having the error anymore, in that case it might've been ordering of code.

Other than that, I've noticed that the bounding box element is outside of the image's parent by 5 elements, so it is not being constrained by the image, but the column that it is in. It also happens to be right next to the element that contains the zoom pane.

[2016-06-14 19:16] paulstraw commented on #28
As far as the the bounding issue goes, that appears to be something caused by the example's CSS (possibly Bootstrap doing something odd?). If it's possible to set up a reduced test case for that, I'm happy to look into solutions. Going to close this issue now though, since the underlying problem appears to be resolved. Feel free to reopen if you see this issue again!

[2016-06-14 19:16] #28 closed

[2016-06-27 15:19] mseymour commented on #28
Looking at it again, it seems that I needed to have an element set as `position: relative` due to your use of `offsetParent` on line 27 of Trigger.js, which at least how I understand it looks for the closest parent that uses `position: relative` or `position: absolute`. I did so, but still the bounding box is still being rendered improperly.

It might also be a general layout issue too. I updated

[2016-06-30 01:24] paulstraw commented on #28
I'm still unable to replicate this outside of your pen, unfortunately, which means it may be some sort of conflict with another piece of CSS or JS you're importing. Have you been able to replicate it in a reduced test case? I'm having trouble narrowing down what could be causing this.

[2016-06-30 15:37] alexcarpenter opened #30 "Click to zoom"
Is there a way to trigger the zoom for desktop on click instead of on hover?

[2016-06-30 17:02] paulstraw commented on #30
Hey @alexcarpenter, it sounds like you're looking for the behavior outlined in #25, correct? We don't currently have plans to implement this interaction model. I'm not opposed to a PR that adds it, if it can be done without a large increase in complexity.

Or are you looking for something more like a traditional Lightbox? If so, it might be worth checking out [Luminous](https://github.com/imgix/lu

[2016-06-30 17:02] #30 closed

[2016-07-05 10:06] zaknafain opened #31 "Browser Support for Safari 8"
I have some issues with Safari 8. I found out, that Safari 8 will not support `this.imgEl.style.transform = 'translate(${left}px, ${top}px)';`. I fixed it with the corresponding `this.imgEl.style.webkitTransform = 'translate(${left}px, ${top}px)';`.

Also the zoomed pane is not removed after `onHide`. I haven't found the solution for this though.

Are you interested in support for  Safari 8?

[2016-07-08 00:49] paulstraw commented on #31
Hey @zaknafain, thanks for the report. I'll take a look at this!

[2016-07-08 00:56] paulstraw commented on #29
Alright, so I was playing with this a bit more @dw2, and noticed that I can resolve the issue (even across page refreshes) by simply moving my mouse up to the top of the screen once to make the address bar and tabs appear. Make any sense to you?

http://paul.st/gf6F

[2016-07-12 23:56] #31 closed

[2016-07-12 23:59] paulstraw commented on #31
This is all set, and released as [0.3.1](https://github.com/imgix/drift/releases). Thanks again!

[2016-07-13 08:31] zaknafain commented on #31
Thank you! Updated - Tested - Deployed - Tested again. Working nicely.

[2016-07-13 17:04] paulstraw commented on #31
Nice. 👌

[2016-07-15 01:21] cezr commented on #19
Hey @maetz3, I just started trying out this zoom library. Anyhow, if I read your issue correctly your having issues with: 1) how to properly destroy the drift object and 2) work with multiple images and 3) how to init and destroy.

Either way I had an issue relatively similar to yours where I had multiple preview like small images with different src images and data-zoom images. On each click of a

[2016-07-15 13:19] andreg opened #33 "window.scrollX and window.scrollY compatibility on IE 11"
Hi,

there's an issue of the plugin not being able to properly position the zoom pane on IE 11, because the computation required to assign the `top` and `left` values returns `NaN`.

This can be fixed using `window.pageXOffset` and `window.pageYOffset` instead of `window.scrollX` and `window.scrollY`. As you can see [here](https://developer.mozilla.org/it/docs/Web/API/Window/scrollX), using `windo

[2016-07-15 19:50] paulstraw commented on #33
Good catch @andreg, I'll get this fixed up in a second.

[2016-07-15 20:08] #33 closed

[2016-07-15 20:12] paulstraw commented on #33
All set, and released as 0.3.2!

[2016-07-16 12:48] andreg commented on #33
Thank you!

[2016-07-21 15:49] dw2 commented on #29
@paulstraw Yeah, I've seen that same behavior. It seems like mouse events in general are getting out of whack when going to/from fullscreen. I haven't had any luck finding a workaround.

[2016-07-29 04:00] tieppt opened #35 "[Feature requests] some improve features idea"
Hi guys, thank you for awesome library!
I have thought and wanna share with you.
- maybe in some scenarios I need border for `ZoomPane` so I can provide css border properties like: `border-width`, `border-style`, `border-color` to `ZoomPane options`.

Thank you all!

[2016-07-29 22:20] paulstraw commented on #35
Hey @tieppt, thanks! Glad you're enjoying Drift. You can actually style the ZoomPane however you'd like via CSS. Here's the basic theme, which should give you a good idea of the selectors you'll need to use to get started: https://github.com/imgix/drift/blob/master/src/css/drift-basic.css#L83-L147

If you'd like to use multiple styles for different instances of Drift, you can use the `namespace` o

[2016-07-29 22:20] #35 closed

[2016-08-02 11:23] exdeniz opened #36 "Aspect ratio"
I try zoom with aspect ratio, but have - http://i.imgur.com/ZKwIr3w.png
Then I can move the zoom in height only.

How do I do that the image has been full width?

[2016-08-02 11:41] exdeniz commented on #36
Fix it: .drift-zoom-pane img { max-width: none; }

[2016-08-03 00:20] paulstraw commented on #36
Hey @exdeniz, sounds like this is caused by another selector somewhere in your site's CSS, is that correct?

[2016-08-03 06:59] exdeniz commented on #36
Yes, all site have img {max-width: 100%}. May be add to drift css .drift-zoom-pane img { max-width: none; }
And thanks, drift is amazing plugin.

[2016-08-03 07:10] paulstraw commented on #36
Cool, yeah, just wanted to double-check that I understood correctly.

I'll probably just toss in `max-width: none; max-height: none;` to be safe. Will release tomorrow (PDT) as 0.3.4!

[2016-08-04 01:07] #36 closed

[2016-08-17 07:59] heloyo opened #39 "Can't make it work with browserify"
Hi! I am trying to use this package with Browserify, but I can't really make it work.

The command I am running looks like:
`browserify --noparse=drift-zoom example/index.js -o example/build.js -dv`

Doing a `console.log` in browserify shows `noParse: [ 'drift-zoom' ]`.

The error I get looks like:

[code]

Any ideas?

[2016-08-17 08:00] paulstraw commented on #39
Can you send through the `require` statement you're using in your `example/index.js`?

[2016-08-17 08:02] heloyo commented on #39
It is using a `Deku` component I am writing, but the component looks like:

[code]

[2016-08-17 08:04] paulstraw commented on #39
Strange. Would it be possible for you to set up a reduced test case I can play with?

[2016-08-17 08:54] heloyo commented on #39
Running `npm run build` with those files:

`package.json`:

[code]

`index.js`:

[code]

Results in this error:

[code]

[2016-08-17 23:00] paulstraw commented on #39
Perfect, I'll take a look at this tomorrow. Thanks @heloyo!

[2016-08-18 19:59] paulstraw commented on #39
Hmmm. @heloyo, I spent a fair bit of time trying to figure out what's going on here. For some reason, Browserify seems to be ignoring(?) `noParse`. I'm unclear why this is happening. In the meantime, you can change your `require` to `require('drift-zoom/dist/Drift.min.js')` to work around this.

[2016-08-19 18:23] sejshark opened #40 "Tried today to set this up on a SharePoint page."
Works ok with Firefox, but I would like it to view inside the img tag that it is in, if that is possible?
Does not trigger at all using IE 11.
Also, is it possible to get rid of the large dark box that is around the zoomed image?

Code I'm using:

[code]

I ran it thru a trace and it looks like it crashes on line #796 `styleEl.classList.add('drift-base-styles');`

[2016-08-22 18:48] paulstraw commented on #19
Closing due to inactivity.

[2016-08-22 18:48] #19 closed

[2016-08-22 19:20] paulstraw commented on #40
Hey @sejshark. Seems like you've got several questions here, so I'll try to address them separately:

Not totally sure I follow, but it sounds like you'd like the zoomed version to display inside the same container as the original image. If that's the case, that's definitely possible. Just set the `paneContainer` option to the parent of the primary element passed.

I'm unable to replicate this in

[2016-08-23 12:30] sejshark commented on #40
Paulstraw, Thank you for your reply.  I will try to clarify.
The large dark box, looks like a large panel, about the site of the screen, that floats around the zoomed image.
![box](https://cloud.githubusercontent.com/assets/15948552/17891670/51dcfffc-690b-11e6-9a4f-8a66ca23731a.png)
I have attached a picture of it here.

I will try to set the paneContainer to the parent, to see if it will zoom ins

[2016-08-23 17:52] paulstraw commented on #40
@sejshark, it looks like your page has got some CSS that's overriding something in Drift, which is causing both of the issues from your above screenshots. Unfortunately, I can't really do much about that without a reduced test case, either.

[2016-08-25 09:10] twler opened #41 "No bounding box shown when hoverBoundingBox is true"
I've configured like so:

    new Drift(demoTrigger, {
        paneContainer: paneContainer,
        inlinePane: false,
        hoverBoundingBox: true
    });

But not seeing any bounding box.  Is there additional setup needed?

Problem is in Chrome, Firefox, and Safari on Mac.

See here: http://codepen.io/anon/pen/zBVPEr

[2016-08-25 17:29] paulstraw commented on #41
Hey @twler, thanks for including the CodePen example, much appreciated.

That example is using an older version of Drift from before the bounding box feature was added. When using the latest version, it works as expected: http://codepen.io/anon/pen/grNjGA

[2016-08-26 06:55] twler commented on #41
Is the latest version available through Bower?  My bower.json lists it as `0.3.4`

[2016-08-26 07:10] paulstraw commented on #41
Yep, that's latest. Very weird, have you tried `rm -r bower_components` and reinstalling?

Thanks for the heads up on the docs, I'll take a look at that.

[2016-08-26 08:04] twler commented on #41
Looks like I needed to include `https://rawgit.com/imgix/drift/master/dist/drift-basic.min.css` on the page.  It wasn't clear from the docs that this was related to the core functionality.

So, options to prevent the issue are likely: document that the basic theme is required for hover box; or include hover box CSS in core package.

Thanks!

[2016-08-26 18:22] paulstraw commented on #41
Hmm… that's really odd @twler. Here's output from a fresh `bower install drift` on my system, which definitely includes the updated CSS: https://paul.st/BZ2XRf

[2016-09-01 14:55] jmagnusson commented on #39
Weird bug! Changing to `require('drift-zoom/dist/Drift.min.js')` worked, thanks @paulstraw.

[2016-09-09 17:42] a2rampal opened #42 "Updating zoom source during an active zoom"
Not sure if there is already a way to do this, but I am building an application where I am constantly changing the image that data-zoom is referring to. Essentially zooming on a video and using the screenshots as the zoom source.

Problem I am running into is that every time I have mouseover on the element (video), the zoom image is the screenshot from the time at the start of the mouseover. If I

[2016-09-09 18:11] paulstraw commented on #42
Hmm… interesting use case. So you basically want it to act like a live viewfinder? How often are you updating the zoom source? I think the biggest issue here would be image load times, unless they're all already cached somehow. Thoughts?

[2016-09-09 19:09] a2rampal commented on #42
I draw the video image to a canvas every 100ms to a second, so only one image is ever in play. Then I execute a toDataURL functon on the canvas to change what data-zoom is using.

[2016-09-09 19:14] a2rampal commented on #42
I guess another question is how to toggle the Drift on and off. Thanks

[2016-09-09 19:27] paulstraw commented on #42
Ah, so it's all local data. That makes things easier. I'm thinking I might just add a public API method for this. How does something like this sound to you?

[code]

[2016-09-09 19:28] paulstraw commented on #42
I edited the above example, so you should click through to the thread to see that. Whoops!

[2016-09-09 20:30] a2rampal commented on #42
drift.updateZoomImage();

sounds exactly like what I would need.

The other thing is that I click a zoom button to enable and disable zoom. Any idea on the best way to disable the Drift?

[2016-09-09 20:33] paulstraw commented on #42
I suppose I should probably add that, as well. 🙂

I should be able to tackle these next week!

[2016-09-16 21:19] paulstraw commented on #39
@jmagnusson, I think this was happening because `noParse` needs the full path. Can you try it with the value of `require.resolve('drift-zoom')`?

[2016-09-26 20:59] paulstraw commented on #41
Closing this due to inactivity. Feel free to reopen if you have any additional questions/comments/info!

[2016-09-26 20:59] #41 closed

[2016-09-26 21:01] paulstraw commented on #29
This appears to be a Chrome issue that's unfortunately out of my hands. You can even replicate this behavior on Amazon pages with the hover zoom functionality (down to the "move the mouse to the top" trick to fix it). Closing this.

[2016-09-26 21:01] #29 closed

[2016-09-26 21:02] paulstraw commented on #40
Closing due to inactivity. If you set up a reduced test case, feel free to let me know and reopen!

[2016-09-26 21:02] #40 closed

[2016-09-26 22:28] #42 closed

[2016-09-26 22:32] paulstraw commented on #42
Hey @a2rampal, thanks for your patience on this! I've added + released as 0.4.0.

[2016-10-14 08:30] PhilippSchreiber opened #44 "Problem with position fixed on IE11"
Hey there,

there is a problem with drift, if it is used inside a container wrapper with position:fixed, for example a modal dialog.

Problem appears on IE11.

I have created an isolated test case:

http://codepen.io/PhilippSchreiber/pen/ozrByw

Any idea, how to fix this?

[2016-10-14 22:30] paulstraw commented on #44
Hey @PhilippSchreiber, thanks for reporting this, and the 👌  test case. I'm digging now.

[2016-10-14 22:59] #44 closed

[2016-10-14 23:02] paulstraw commented on #44
Alrighty @PhilippSchreiber, this is fixed up + released as 0.4.1.

[2016-10-15 07:33] PhilippSchreiber commented on #44
Wow @paulstraw that was fast. Thanks a lot!!! 👍 😮

[2016-10-25 00:41] #39 closed

[2016-10-26 14:07] djkirby opened #47 "disable() doesn't apply until mouse leave"
See this codepen https://codepen.io/anon/pen/amxJKX. I added a listener to disable the drift reference when the trigger image is clicked.

When I disable the drift reference while still hovering over the image, the magnified image is still visible until my mouse leaves the trigger image.

Is this expected, and is there a way I can get it to disable right away?

[2016-10-26 14:18] djkirby commented on #47
Nevermind I guess this is expected...

[2016-10-26 14:18] #47 closed

[2016-12-22 15:56] Pszek opened #49 "Webpack: Module parse failed"
Hi,

I get below error when I import/require Draft. Is it possible to run it with Webpack?

![zrzut ekranu 2016-12-22 o 16 26 48](https://cloud.githubusercontent.com/assets/10253750/21431384/4b316f6a-c867-11e6-885c-14d66c559ba3.png)

[2016-12-29 22:46] theog commented on #49
The issue here is package.json main prop should point to the distribution folder where it has been transpiled as apposed to the src. I have forked this project for now, hoping a fix can be allied soon.

[2016-12-29 22:48] theog opened #50 "npm package issue"
Please can you update your package.json to point to the distribution transpiled file. This is causing issues when used as an npm package.

-package.json
  "main": "dist/Drift.js",

[2017-01-02 07:46] Pszek commented on #49
@theog thank you for kind help.

[2017-01-02 07:46] #49 closed

[2017-01-06 11:49] infotokabil opened #51 "Getting Error in append child(show function) and remove child (hide function)"
Hi,

I am getting the below error in console while using drift in my page while getting this error hide and show opertion not performed successfully, can you please say the reason why I am getting this error? and I have fixed this temporarily using some code's in Drift.js file, I have mention that fixed code at end of the page.

[code]
[code]

Fixed code:
[code]
And I have added $('.drift-zoom-pan

[2017-01-11 15:17] evenfrost commented on #51
#28 is related.

[2017-01-11 15:22] evenfrost commented on #28
Getting same error because of [this line](https://github.com/imgix/drift/blob/735452739d7784c9a1293a9d2b76fb472daf4a0f/src/js/Trigger.js#L27).
`offsetParent` is somehow set to `null`, though when testing in Chrome dev tools `offsetParent` of image is set properly (and points to its parent).
P.S. Neither of [these cases](http://stackoverflow.com/a/11639664/1800935) are true for me.

[2017-01-12 08:37] blowsie commented on #33
for better compatibility;
https://github.com/ReactTraining/react-router/issues/605

[2017-01-19 23:08] JBStevens15 opened #52 "NPM install size is gigantic (108k+ files) compared to Bower installation"
Hi,

I recently installed drift-zoom with npm and noticed the module contained 108k+ files. can you move the dependencies to devDependencies or was something else overlooked here?

I noticed that the repo doesn't have a `.npmignore` file. Maybe including one would solve this issue? Any help or suggestions are appreciated. And if creating a `.npmignore` is what is needed, I'll be happy to create a

[2017-01-26 11:40] andrey-hohlov opened #53 "Bounding box position wrong with position:relative parent"
Hi!

If parent of zoom image (up to body) has `position: relative` we have wrong position of bounding box.

You can see problem here: http://codepen.io/andrey-hohlov/pen/zNENEa

[2017-02-22 06:23] RosemolJ commented on #42
Hi

Can anyone help me on this issue ?

**updateZoomImage**  doesn't work properly in Mozilla Firefox.
When changing the url for data-zoom, it doesn't show the loading screen. Instead it shows the previous image loaded. But this works perfectly in Google Chrome and Safari.

@paulstraw

[2017-02-22 07:24] paulstraw commented on #42
Hey @RosemolJ, can you set up a CodePen (or similar) showing this issue in action?

[2017-02-22 16:13] #50 closed

[2017-02-22 16:13] #52 closed

[2017-02-28 06:51] JonathanTru commented on #53
This is exactly what the bounding box looks like for me when using Bootstrap and the small image in one column and the zoomed image in another column

[2017-04-05 13:37] timrombergjakobsson opened #55 "Zoom on multiple images"
Hi thanks for a great lib. Im having some trouble when zooming on mutliple images. US: I have several thumbs in a slider when I click a thumb i changes to that picture which can be seen in a corresponding fullsize version. When I hover over it I can only zoom in on the original one. So even though I change the image to zoom on, it still keeps the original one. How can I change so it zooms in on th

[2017-04-11 07:17] timrombergjakobsson commented on #55
I tried using the ```document.querySelectorAll```to get all images but I just get ```Drift requires a DOM element as its first argument```? I thought also that maybe I could use this example https://github.com/imgix/drift#driftsetzoomimageurlimageurl but not succeeding. Is there any examples of having multiple images?

[2017-04-11 13:29] timrombergjakobsson commented on #55
Ah maybe this is not a supported lib still? Ill switch to another one that is more up to date, thanks anyhow.

[2017-04-12 01:02] paulstraw commented on #55
Hey @timrombergjakobsson, this comment should give you what you're looking for: https://github.com/imgix/luminous/issues/14#issuecomment-189520375. Different library, but the same concept applies here. 🙂

[2017-04-12 05:34] timrombergjakobsson commented on #55
@paulstraw ah, ok, thanks. So put the ```new Drift()``` inside a loop. I tried with the ```document.querySelectorAll``` put could only retrieve the first instance. Ill try with this, thanks!

[2017-04-12 20:42] timrombergjakobsson commented on #55
@paulstraw I tried it but not actually working. Im thinking that I might need to reinitialize drift after I switch image?

[2017-04-12 21:17] paulstraw commented on #55
Send through your code and I'll take a look.

[2017-04-13 15:23] timrombergjakobsson commented on #55
The problem is that basically I have only one image in the DOM, and then it is changed with JS. So when I click a thumbnail it changes to its corresponding large image.

This is my zoom class:
[code]

[2017-04-13 21:23] paulstraw commented on #55
Ah, okay! I thought you were trying to do something else. If I'm understanding correctly now, you should be calling [`Drift#setZoomImageURL(imageURL)`](https://github.com/imgix/drift#driftsetzoomimageurlimageurl) each time you update the large image. For this case, you should only need one instance of Drift. Let me know if that makes sense.

[2017-04-17 08:48] timrombergjakobsson commented on #55
Ah ok, yes thats what I was going for at first. Is it necessary to call ```triggerEl.setAttribute```also?

[2017-04-17 12:01] paulstraw commented on #55
For your use case, yes.

[2017-04-18 08:15] timrombergjakobsson commented on #55
@paulstraw thanks for the help. ```setZoomImageURL``` and ```setAttribute``` did it.

[2017-04-18 08:15] #55 closed

[2017-04-26 12:59] timrombergjakobsson opened #56 "Disable on mobile or small screen"
Hi! Is there any option for disabling Drift on say a mobile device or smaller screen? Thanks in advance!

[2017-05-09 19:11] JeffreyLangJVH commented on #53
Anyone fixed this issue?

[2017-06-26 11:50] SalehBagheri opened #59 "Add documentation about positioning the zoom box"
how to use drift in right to left boxes?

or

how to change zoom box position at right?

[2017-07-23 15:37] yrahman commented on #53
please help with this issue :(

[2017-08-03 23:58] tarponjargon opened #60 "Properly destroying Drift"
I'm trying to get Drift to work with Ember and am having some success.   Since there aren't any page reloads I want to be sure that I am cleaning up all remnants of Drift on transition out of the route that uses it.

Right now I'm doing this:

[code]

And that seems to work, but is there anything else I need to address?  Perhaps some DOM elements that could potentially be left hanging around?

Tha

[2017-12-13 17:08] ezalivadnyi commented on #28
Plugin has a bug. When parents is position:relative, it append the hoverBoundingBox no to <body> end, and it's hoverBoundingBox's position is incorrect.

[2017-12-13 17:09] ezalivadnyi commented on #53
Somebody, please fix this bug.

[2018-01-13 06:14] akulubala commented on #53
any updates about this issue?

[2018-01-15 03:29] akulubala commented on #53
@ezalivadnyi your solution is perfect. The other issue I found is BoundingBox need be a singleton, otherwise , will be more than one bounding box overlapping togther .Code like this:

    let __instance = (function () {
      let instance;
      return (newInstance) => {
        if (newInstance) {
          instance = newInstance;
        }
        return instance;
      }
    }());

    export de

[2018-03-21 14:22] Michael-Herzog commented on #59
Hi,

perhaps this helps someone:

`	.drift-zoom-pane img {
		left: 0;
	}`

[2018-06-07 22:30] frederickfogerty commented on #59
Hey @SalehGladius and @Michael-Herzog 👋

Fred from Imgix here - I'll be responsible for the maintenance of this repo from today onwards.

I believe we can solve this issue by updating the documentation to include an example of how to position the zoom box. Would you agree that this would solve your issue?

[2018-06-07 22:40] frederickfogerty commented on #56
Hey @timrombergjakobsson 👋

Fred from Imgix here. I'm responsible for maintaining this repo from today onwards. At the moment a workaround is to override the CSS of the `drift` component:

[code]

[2018-06-07 23:32] frederickfogerty commented on #53
Hey all! 👋

Fred from Imgix here. I'm responsible for the maintenance of the repository from today onwards.

I've successfully reproduced this issue on my machine, and it seems that @ezalivadnyi's solution seems to fix this. I'll have to do some more digging to investigate the implications of changing the parent element, but I'll get back to this within a week.

[2018-06-08 00:46] frederickfogerty commented on #51
Hey @infotokabil 👋

Fred from Imgix here - from today I'm going to be responsible for the maintenance of this library.

Similar to the discussion in #28, I can't seem to reliably reproduce this. If you're able to create a reduced test case, I can investigate and fix this. Until then, I wouldn't know how to go about fixing this, as nothing seems to be immediately wrong.

[2018-06-08 00:46] #51 closed

[2018-06-10 00:44] Justintime50 commented on #56
I've tried implementing this with no success. Tried different breakpoints and different browsers with no luck.

[2018-06-10 02:46] frederickfogerty commented on #56
Hey @Justintime50, it may be down to CSS specificity. An `!important` may have to be added to the end of the `display: none` line to override the component's styling.

[2018-06-10 06:17] Justintime50 commented on #56
@frederickfogerty thanks for the suggestion! Unfortunately I tried that too with the same results. Will this be a future feature?

[2018-06-10 20:19] frederickfogerty commented on #56
Hey @Justintime50 check out https://codepen.io/frederickfogerty/pen/qKRzgP for a working example - maybe something can be made to work by looking at this example.

I can't confirm that at the moment, but it's something that we'll likely look at supporting with a CSS override or something like above.

[2018-06-11 22:46] Justintime50 commented on #56
I'm incredibly embarrassed. I was googling the Drift chatbot (drift.com) and came upon this and the convo fit my same needs for a different piece of software perfectly so I thought this was it. Don't mind me, sorry!

[2018-06-11 22:51] frederickfogerty commented on #56
Well that's definitely a first for me @Justintime50! 😂 Hope you find a solution to your issue! In the meantime, would you mind if I deleted [this comment](https://github.com/imgix/drift/issues/56#issuecomment-396009882) and [this comment](https://github.com/imgix/drift/issues/56#issuecomment-396024000) so we can keep the conversation on track? I'll then edit/update my comments so they also make se

[2018-06-11 23:58] frederickfogerty commented on #59
Hey @Michael-Herzog thanks for the comment. We are looking to support RTL environments. How would you expect drift to work in a RTL environment? Thanks in advance.

[2018-06-12 00:14] frederickfogerty opened #65 "Weird behaviour when detail area is larger than zoomed image dimensions"
**Checklist:**

- [x] I have checked stackoverflow for this bug and there are no answers or the question does not exist
- [x] I have searched through the issue list for related bugs or issues

**Describe the bug**
When the high-resolution (i.e. image that shows up in the zoom pane) is a lower resolution than the dimensions of the detail pane, panning around the image is jumpy.

**To Reproduce**

h

[2018-06-12 06:46] Michael-Herzog commented on #59
Like this:
http://demo.smartstore.com/frontend/ja/ladies-flag-t

[2018-07-09 00:39] frederickfogerty opened #68 "Use es6 modules to better support users that use tree-shaking bundlers"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/drift/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a probl

[2018-07-09 19:53] frederickfogerty commented on #65
Fixed in #69

[2018-07-09 19:53] #65 closed

[2018-07-10 13:29] fleck commented on #68
I'll try to put together an example of using rollup with babel to bundle. Webpack is great for building application bundles, but I like rollup better for libraries.

[2018-07-12 21:53] frederickfogerty commented on #68
Hey there @fleck. Can you take a look at #70? I've used Webpack + Closure over there, and would love your feedback.

[2018-07-21 17:20] bobbygerez commented on #59
@Michael-Herzog @SalehGladius did you find way how to change the zoom box position. Thanks.

[2018-07-23 07:47] Michael-Herzog commented on #59
You can fix the problem this issue was originally created for by adding the css I've posted on Mar 21.

[2018-07-23 13:33] bobbygerez opened #72 "Nuxt.js imgix/drift"
**Before you submit:**

- [ ✔] Please search through the existing issues (both open AND closed) to see if your issue has been discussed before. Github issue search can be used for this: https://github.com/imgix/drift/issues?utf8=%E2%9C%93&q=is%3Aissue
- [✔ ] Please ensure the problem has been isolated and reduced. This link explains more: http://css-tricks.com/6263-reduced-test-cases/

**Describe

[2018-07-23 20:12] frederickfogerty commented on #72
Hey @bobbygerez thanks for the bug report. Can you please provide a complete sample project displaying this error? I have no experience with Nuxt.js and thus it is not trivial for me to debug this error.

Also, please reformat the issue into the bug report template.

[2018-07-24 11:20] mrborek commented on #72
@bobbygerez , did you try with: How to use external resources? https://nuxtjs.org/faq

[2018-07-24 12:42] bobbygerez commented on #72
I tried it and it's not working... Here is the code and screenshots.
[code]
![error1](https://user-images.githubusercontent.com/10149942/43138627-26c7778c-8f58-11e8-8bf9-bb32a86bfe5b.PNG)

![error2](https://user-images.githubusercontent.com/10149942/43138651-382bca28-8f58-11e8-9ce1-ce433060b92d.PNG)

[2018-07-24 13:21] mrborek commented on #72
Your file is not working for me also.
Try http://yourjavascript.com/91402132287/drift-min.js
It's 1.3 version.

[2018-07-24 13:51] nikugogoi opened #73 "drift.hide() does not hide zoomPane"
currently I have only seen the option for disabling the trigger to show the zoom pane. The resulting behaviour is that even after the trigger is disabled the zoom pane does not disappear if active. So, one might need to programmatically hide/remove the zoom pane.
After going through your code I was able to do the same like this :
[code]
Please let me know if there is a better way or we could expos

[2018-07-24 20:31] thomas-obernberger commented on #73
smth to destroy the plugin would also be very nice!

[2018-07-25 06:39] bobbygerez commented on #72
It works like a charm... Thanks.. @mrborek

[2018-07-25 15:40] WrightSideUp opened #74 "Enable Use in Server-Side-Rendered Project"
- [X] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/drift/issues?utf8=%E2%9C%93&q=is%3Aissue
- [X] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a problem? Please describe.**
E

[2018-07-25 20:13] frederickfogerty commented on #72
Hey @bobbygerez thanks for reformatting into the issue template. Is this solved? Do we need to do anything here?

[2018-07-25 20:15] frederickfogerty commented on #73
Hi @nikugogoi thanks for the issue. I think it makes sense for `drift.disable()` to also ensure that the ZoomPane is hidden, so we should update this behaviour. Is this in line with what you'd expect to happen?

[2018-07-25 20:47] WrightSideUp commented on #74
I am using React/Redux, but I don't think those dependencies make any difference (although Drift would make a nice React component if that's a direction you're interested in 👍.

I forked the repo, and made the change outlined in the initial request and it works like a champ.  That is the only DOM-dependent code that gets called outside the Drift classes themselves -- in fact I believe that is the

[2018-07-26 07:05] nikugogoi commented on #73
hi @frederickfogerty, I have no problem in the behaviour that you mention. I just thought there should be a way in which we can remove/hide the zoompane in the DOM. So I am leaving the implementation to you guys, who are managing this awesome package :+1: , to ensure we are on the same page.

[2018-07-26 07:07] frederickfogerty commented on #73
Awesome, thanks @nikugogoi we'll get onto this when we focus on this package next (not sure when that will happen, could be a month or so).

[2018-07-26 09:37] bobbygerez commented on #72
@frederickfogerty yeah it was solved.
[code]
Add it as global external source and it works like a charm...

[2018-07-26 09:37] frederickfogerty commented on #72
Great, I'll close this then.

[2018-07-26 09:37] #72 closed

[2018-07-27 20:33] kyjus25 opened #75 "IE 11 Compatibility Bug"
Hi, hoping you may be able to help sort an issue out I seem to be having. The documentation says that there is support for the 3 (or 2?) latest browsers, Edge and IE11 would fall into those categories. My issue is on Internet Explorer 11. I'm not sure if the issue is also on Edge.

I'm having an error on my site when activating Drift (the issue is also on the [Drift Playground](https://imgix.githu

[2018-07-28 02:32] frederickfogerty commented on #75
Hey there @kyjus25! Thanks for the bug report, and sorry that you're having issues with IE 11. We do support IE 11, so we'll need to fix.

I won't have time to look into this until sometime next week, so in the meantime it would help me a lot if you'd be able to create a codesandbox.io or codepen which I can use to reproduce the issue. Would that be possible?

[2018-07-30 15:49] kyjus25 commented on #75
As requested, here's a [codepen](https://codepen.io/anon/pen/rrppvx) of a very very basic setup using Drift.

I tried to confirm that the bug is effecting this pen, but I can't even seem to fully initialize codepen with my VM of Windows 7, so I'm not sure if it's my VM or Codepen themselves don't support IE11 anymore. I've got an external hard drive enclosure on the way so that I can legitimately

[2018-08-02 16:33] Zulcom opened #76 "dist/Drift.js contains Drift.min.js content for release 1.3.0"
Check out this files: [dist/Drift.js](https://github.com/imgix/drift/blob/master/dist/Drift.js) and [dist/Drift.min.js](https://github.com/imgix/drift/blob/master/dist/Drift.min.js)
As you can see in this [diff](https://github.com/imgix/drift/commit/ba361fd9e0a6bd33912273898b49bb021307bb48#diff-109d393e6d8cedabb40dc12a3294a55b), something went wrong and contributor @frederickfogerty
commit content

[2018-08-02 21:57] frederickfogerty commented on #76
Hi @Zulcom are you experiencing any issues with the new `dist/Drift.js` file? As we now use the google closure compiler we don't have a method to compile the code without also minifying it, but we kept `dist/Drift.js` for backwards-compatibility.

[2018-08-02 21:58] #76 closed

[2018-08-03 03:26] Zulcom commented on #76
No, i never have any issues with `dist/Drift.js`, but its very hard to debug when its minified.
It's not about perfomance or issues, it's about developer expirience and difficult to use your lib,
and i can deal with it.
So maybe you turn off source maps for minified file?

[2018-08-07 10:16] bakura10 opened #77 "Introduce a delay to allow scroll on mobile"
Thanks for this awesome library, looked awesome and very easy to customize!

I'm encountering a small issue though: I have an image that takes nearly all the screen estate on mobile. The zoom on mobile looks good and works well, but the issue is that I simply can't scroll at all as the touch event is immediately captured to launch the zoom.

Would it be possible to add some smarter detection so th

[2018-08-07 20:14] frederickfogerty commented on #75
Hey @kyjus25 this is fixed in #78, could you please verify that this works for you? Make sure you run `npm run build` when cloning the repo as I don't include changed dist files in my PRs

[2018-08-07 22:09] frederickfogerty commented on #77
Hey there @bakura10 thanks for the suggestion!

Our development focus is currently not on Drift but we'll look at this issue when we re-focus on drift (potentially in about a month). We understand the predicament that a user is not able to scroll past a Drift element. What would you expect the interaction here to be? e.g. a long-press on Drift to activate it?

I'm not sure if a hover delay will wo

[2018-08-07 22:11] frederickfogerty commented on #76
Hey there @Zulcom unfortunately we aren't able to turn off minification for `Drift.js`. A sourcemap for both `Drift.js` and `Drift.min.js` already exists - it is `Drift.min.js.map`. Does this work for you?

[2018-08-07 22:17] frederickfogerty commented on #74
Hey @WrightSideUp how is the PR looking?

We've discussed React support internally and we'd look at "supporting" by publishing some examples of how a user could adapt this library to work in React, rather than publishing an official React component. It seems that you use this library inside of React - is there any chance you would be able to publish a sample repo/example, say under `examples/react

[2018-08-08 02:43] bakura10 commented on #77
Hi !

Yes, the idea would indeed be to start enabling the zoom after a few milliseconds, to leave the opportunity to scroll :).

[2018-08-08 03:49] Zulcom commented on #76
It work form me, thanks

[2018-08-08 11:16] WrightSideUp commented on #74
Sorry I haven't had a chance to get to it yet, but will try to get it done
by the end of the week.

I could put together a React example but it would have to be built from
scratch -- the actual code from my application has way too much other stuff
in it.

It would be possible to put together a nice little demo though....

On Tue, Aug 7, 2018 at 5:17 PM Frederick Fogerty <notifications@github.com>

[2018-08-08 14:44] elitenick commented on #77
We also would love this. Even doing drift.disable() still seems to keep it listening for the touch events, preventing scrolling.

[2018-08-08 20:07] #75 closed

[2018-08-08 20:09] frederickfogerty commented on #77
Great, thanks for the comments @elitenick @bakura10 we'll see what we can do when we get back to this library.

[2018-08-08 20:11] frederickfogerty commented on #74
All good @WrightSideUp 😊 take your time

[2018-08-27 10:32] satiroglumustafa opened #79 "Problem Picture view on mobile"
Hi Everyone, Firstly I speak little English, sorry....

I have a problem, İt 's work very nice on desktop, but My problem is on mobile.

It looks very small when you hold down the image . Example Link: https://hizliresim.com/VDRZBZ

[2018-08-27 21:38] frederickfogerty commented on #79
Hi there @satiroglumustafa! Thank you for the bug report.

The example link is not working for me unfortunately. Would you be able to post a screenshot here?

This is what it looks like for me.

![image](https://user-images.githubusercontent.com/615334/44687744-15b0c700-aaa6-11e8-85cf-20a93625c559.png)

[2018-08-28 06:40] satiroglumustafa commented on #79
Soryy. True link is http://prntscr.com/knol5p  It looks very small when you hold down the image ..
I hope you understand ... Thank you

[2018-08-28 07:04] satiroglumustafa commented on #79
Also,
I have one more question . I want to disabled Zoom and enlarge it by clicking on the picture, Is this possible only on Mobile ??

[2018-08-30 16:16] victor-ponamariov opened #80 "Problems with positioning paneContainer absolutely"
Hello!

I searched both open and closed issues, probably missed something.

I have a pane container which is positioned absolutely. This container is placed on a div which contains some information about a product, some buttons and other stuff. I need to be able to show the pane container when user hovers a picture, and then hide the container on mouse out.

The problem is, that, I tried to use on

[2018-09-12 22:57] frederickfogerty commented on #80
Hey there @victor-ponamariov, thanks for the bug report. This seems like a pretty in depth issue so I'm going to have to spend some time reproducing. I hope to do this later this week or early next week.

[2018-09-13 15:00] hubert-ried opened #81 "API-Calls like setZoomImageURL(), destroy() can not be found in the minified version of drift.js"
Hi everybody,

it seems, that the api-functions provided by drift.js  are not packed in the current drift.min.js (1.3.1)

[code]
I installed through bower and also directly download the repository. The methods enable(), disable(), destroy(), setZoomImageURL() do not reside in the minified version 1.3.1.

What am I missing?

Thanks a lot and all the best from here.
Hube

[2018-09-13 15:11] hubert-ried opened #82 "Reinit drift with new options"
Hi everybody,

I need to use drift.js along with a image slider (it is a slick slider).
The current selected slide is shown in an seperate element that is used by drift.

In the slider there can be images with different resolutions. For getting the max zoom factor, I want to calculate the drift zoomFactor dynamically each time the slide changes and want drift to use that current zoomFactor.

I cou

[2018-09-15 01:52] frederickfogerty commented on #81
Hi there @hubert-ried. This is certainly not intended! I'll have a look at this issue sometime this week.

[2018-09-17 06:39] frederickfogerty commented on #80
Hi there @victor-ponamariov 👋

If I've understood your issue correctly, it's that the paneContainer doesn't exist before Drift measures the width, and thus `getBoundingClientRect()` fails.

I've adapted the classic Drift example on Codepen to work as you've described. Please let me know if this solves your issue. In the example, `.paneContainer` is absolutely positioned and is equivalent to your p

[2018-09-17 21:51] frederickfogerty commented on #82
Hey there @hubert-ried 👋

This should be able to be accomplished right now with `.destroy()`. If you call `.destroy` and then reinitialise the component with your new options.

Thanks, Fred

[2018-09-17 21:52] #82 closed

[2018-09-19 20:56] frederickfogerty commented on #80
Hi @victor-ponamariov, I'm going to close this now as it's been inactive for a few days! If you have any more issues please comment on this issue or create a new issue. Thanks and have a great day! 👋

[2018-09-19 20:56] #80 closed

[2018-09-29 04:09] #81 closed

[2018-10-09 20:43] frederickfogerty commented on #79
@satiroglumustafa hey there @satiroglumustafa, I've tried pretty hard to reproduce this on a mobile but wasn't able to.

Here is a screenshot on an iPhone.
![simulator screen shot - iphone x - 2018-10-10 at 08 52 56](https://user-images.githubusercontent.com/615334/46694710-12465900-cc6a-11e8-8ece-92ae0a6ca433.png)

Unfortunately I'm not able to fix this issue unless I can reproduce it. Please pro

[2018-10-15 04:32] frederickfogerty commented on #79
I'm closing this due to inactivity. Please comment here or open another issue if this still a problem for you @satiroglumustafa

[2018-10-15 04:32] #79 closed

[2018-10-15 18:08] ITFlyer commented on #77
Let me make yet another request for this functionality. I tried to implement it myself with a combination of capturing touch events and the touch, but Drift captures all touch events, so trying to create a flag in combination with the touchDelay parameter didn't work. Also the onShow event doesn't accept a return value that would cancel the show function.

Basically I see it working like this: You

[2018-10-15 18:12] ITFlyer opened #85 "Current distribution does not have unminified code"
The current 1.3.2 release has the exact same (minified) file for both the minified and non-minified versions:

/dist/drift.js   10.9k
/dist/drift.min.js  10.9k

There is no non-minified version in the dist folder.

[2018-10-17 20:05] DreaMinder opened #86 "Wrong zoomer position on hover"
**Problem**
At first moment when zoomer appears, zoomed image inside has wrong position or invisible. When cursor moves along, zoomer works fine.

**Reproduce**
1. Go to https://juliapomoshko.com/en/store/coat-grey-long-with-belt
2. Hover your cursor over image with a fast move and stop.

**Additional context**
I use drift-zoom inside of vue.js component. Version with the issue is 1.3. And 1.2 wor

[2018-10-18 06:47] timrombergjakobsson commented on #56
Sorry for the late feedback @frederickfogerty, thanks for the answer!

[2018-10-18 20:10] frederickfogerty commented on #56
@timrombergjakobsson no worries 😀

[2018-10-25 10:12] solankivj94 opened #109 "On hover image take full width height of screen"
![capture](https://user-images.githubusercontent.com/40413513/47493631-627a0980-d86d-11e8-8248-27a868efa8d4.PNG)

im using flexbox for layout

            <div class="product-detail__image-main">
                <img src="images/shirt8.jpg" class="demo-trigger" data-zoom="images/shirt9.jpg" alt="6">
            </div>

            <div class="product-detail__info main-zoom">
            </div>

[2018-10-25 10:52] solankivj94 commented on #109
Fixed!!!!
😓 it had problem with position.
because previously position was absolute. so i changed it to relative and it worked!!!!!

[2018-11-01 08:15] frederickfogerty commented on #109
Hey there @solankivj94. Can you please update your issue to follow the issues templates? I'm not too sure what you're discussing here.

[2018-11-01 10:46] solankivj94 commented on #109
hey @frederickfogerty. i just found that it had issue with  css position of div where zoom was happening.
so it's all working.
thank a lot! :)

[2018-11-01 18:15] frederickfogerty commented on #109
Thanks @solankivj94, I'll close this now then :)

[2018-11-01 18:15] #109 closed

[2018-11-02 15:42] DreaMinder commented on #86
@frederickfogerty hi. It doesn't build on windows =(
But I'm sure you got this, looking forward for release
Thanks for awesome package, btw!

[2018-11-02 18:45] frederickfogerty commented on #86
@DreaMinder would it help if I sent you a compiled version of the `dist` folder?

[2018-11-02 19:16] #86 closed

[2018-11-02 19:51] DreaMinder commented on #86
@frederickfogerty I guess so, drop it here dreaminder7@gmail.com, I'll test it

[2018-11-02 20:07] DreaMinder commented on #86
@frederickfogerty oh nevermind, I already installed new release, works like a clockwork!

[2018-12-24 19:02] jgillich commented on #74
Just ran into this as well. Any news? :wink:

[2019-03-14 09:53] SilencerWeb opened #215 "Why both dist/Drift.js and dist/Drift.min.js are minified?"
**Question**
Why both dist/Drift.js and dist/Drift.min.js are minified?

[2019-03-14 18:14] sherwinski commented on #215
Hi @SilencerWeb, I believe the answer to your question can be found on #76

[2019-03-14 22:43] #215 closed

[2019-03-19 09:20] amhofny opened #220 "disable handleTouch doesn't work"
**Describe the bug**
Disabling handleTouch is not working, if you set to false, the default value true will always be used, and the same goes for injectBaseStyles.

**To Reproduce**
Just set handleTouch to false and check the result, a more appropriate way is to edit the test case "accepts custom settings", like below to include "handleTouch" and "injectBaseStyles", and then run tests:
[code]

**E

[2019-03-23 03:27] SilencerWeb opened #225 "How to debug?"
**Question**
I want to see the pane's HTML structure so I could change the styles of it (for example, I need to center the image) but I can't do it because as soon as I lose hover from the image, pane destroys. I'm sure you have a way to prevent this behavior and I would be very thankful if you share it with me :)

[2019-03-23 03:35] SilencerWeb opened #226 "docs: more noticeable demo"
**Is your feature request related to a problem? Please describe.**
Right now it is too hard to find a demo in your README. The first thing that I wanted to see is a demo but instead of this I had to scroll all over the README and look for it.

**Describe the solution you'd like**
1. Add a link to the content table

![image](https://user-images.githubusercontent.com/20713191/54861128-06e17880-4d46-

[2019-03-23 03:38] SilencerWeb commented on #215
Sad

[2019-04-01 22:36] sherwinski commented on #226
Hey @SilencerWeb thanks for the suggestion. I definitely agree that the demo should be more noticeable for users new to the project and would be happy to accept a PR for this change in both our drift and luminous repos.

[2019-04-01 23:46] sherwinski commented on #225
Hi @SilencerWeb, if I understand your question correctly I think you can get around this issue by [pausing script execution](https://stackoverflow.com/a/38783213) via keyboard shortcut. Please note that depending on your browser these steps might vary slightly but for the most part should be the same. Hope that helps!

[2019-04-02 21:15] #220 closed

[2019-04-04 10:15] SilencerWeb commented on #225
@sherwinski, or you could consider adding a new option for making pane always visible. Something like, `isPaneVisible`. I left a comment about a similar issue in another repository — https://github.com/jshjohnson/Choices/issues/560#issuecomment-479837379

[2019-04-04 18:07] sherwinski commented on #225
@SilencerWeb Since one of the goals of this project is to remain lightweight and expose the simplest API possible, we’re opposed to adding a feature purely for debugging purposes. Closing this ticket since the workaround I provided should suffice.

[2019-04-04 18:07] #225 closed

[2019-04-20 19:06] thomas-obernberger opened #236 "safari: strange inline pane cuts in safari"
safari does not display the image in the zoom pane right. after the bigger zoom image is loaded, the image is shown but mostly cut at different heights
i provided an example to reproduce it and screenshots of it. i already tried to fix that, but i had no idea.. it seems like safari does not display the transformed image fully...

**Reproduce**
try this in safari
clearing cache makes it easier
fast

[2019-04-30 05:57] greatsaiyanman commented on #41
![error](https://user-images.githubusercontent.com/50130665/56942960-e7611b00-6b4f-11e9-988b-0eaad0415197.PNG)

[2019-04-30 07:22] greatsaiyanman opened #240 "HoverBounceBox Not Show in the front of image when in Modal"
https://codepen.io/greatsaiyanman/pen/YMMmLR

the drift-bouncing-box not show in the front of the image that zoom in modal

@paulstraw

[2019-04-30 07:24] paulstraw commented on #240
Just glancing at this, I'm not sure I see what the problem is? This looks like expected behavior as far as I can tell. Can you provide the browser version you're seeing a problem in, along with any other relevant information?

[2019-04-30 07:40] greatsaiyanman commented on #240
![error 2](https://user-images.githubusercontent.com/50130665/56946875-08306d00-6b5e-11e9-8622-faaa5050c1d5.PNG)
when i combined drift.js and modal the drift-bouncing-box goes to the back of the modal.

[2019-04-30 07:45] paulstraw commented on #240
Ah, I understand what's happening now. The default CSS doesn't specify a z-index for `.drift-bounding-box`. Bootstrap's modal CSS has `z-index: 1050`, so if you set `.drift-bounding-box` to something higher than that, it will display as expected. Adding this to your Pen worked for me:

[code]

[2019-04-30 08:11] greatsaiyanman commented on #240
Thanks @paulstraw . the drift-bouncing box is display now in the front of image but it exceed in the image.
![error 3](https://user-images.githubusercontent.com/50130665/56948410-a3c3dc80-6b62-11e9-973d-c891b5ed933e.PNG)
![error 4](https://user-images.githubusercontent.com/50130665/56948418-a9b9bd80-6b62-11e9-8056-2cc436f00bf7.PNG)

check the image

[2019-04-30 08:14] paulstraw commented on #240
Just based on the screenshots, it looks like there might be some more CSS elsewhere in your application causing that issue. If you can update your reduced test case to demonstrate this problem, I'm happy to take a look.

[2019-04-30 08:42] greatsaiyanman commented on #240
https://codepen.io/greatsaiyanman/pen/YMMmLR

updated codepen

[2019-04-30 16:55] paulstraw commented on #240
The only time I'm able to replicate any issues in that example is if I scroll while hovering over the image. When I stop scrolling, the bounding box snaps into place as expected (or closes entirely if my cursor is outside the image bounds at that point). Is this the behavior you're seeing as well, or is what you're seeing unrelated to scrolling?

If you're seeing different behavior, please provide

[2019-05-03 00:41] greatsaiyanman commented on #240
i see the problem in my css. I removed the margin-top in my body at my css. Thanks  @paulstraw

[2019-05-03 02:15] #240 closed

[2019-05-21 07:18] michaelbromley commented on #60
I'm using Drift in an Angular application. In the "ngOnDestroy" lifecycle hook, I call the Drift `destroy()` method, but if the drift bounding box is currently being displayed, it will not get cleaned up.

Stepping through the `destroy()` call, I see that it only removes event listeners, and does not check to see if any of its created DOM elements are still attached.

See this illustration of the

[2019-06-26 11:09] billythekid opened #273 "handleTouch: false bug on tap."
**Describe the bug**
When passing `false` as the `handleTouch` param on Drift objects tapping the image brings up the zoom pane and this can't be dismissed. Tapping around the image re-sets the zoom focalpoint much as dragging would were handleTouch enabled. It can't be dragged away or 'touchend-ed'

**To Reproduce**
[Forked Codepen showing issue](https://codepen.io/billythekid/pen/WqZwmW)

Steps

[2019-07-15 20:46] sherwinski commented on #273
Hi @billythekid, I agree that this is unexpected behavior especially since it was addressed in #220 and released as part of [v1.3.4](https://github.com/imgix/drift/releases/tag/v1.3.4). I compared the version of [Drift.min.js](https://s3-us-west-2.amazonaws.com/s.cdpn.io/164071/Drift.min.js) found in the Codepen you linked with the version built in v1.3.4 and found that they [did not match](https:

[2019-07-15 20:55] billythekid commented on #273
Hey @sherwinski,

I’ll confirm this tomorrow when back at a computer but at the moment I can already confirm that the issue exists in the forked pen.

Will double check my drift version in the morning but it’s latest version from npm so probably highest release but as I say, will confirm or not tomorrow.

Thanks

[2019-07-16 18:26] sherwinski commented on #273
Just so that I'm clear: you're hoping to trigger the zoom on tap + hold (but not tap) and that the bubble can be dragged around? Or you would like no zoom to occur in either case?
Maybe @frederickfogerty can offer some insights here.

[2019-07-17 10:35] billythekid commented on #273
Yeah I would think there should be no zoom at all when handleTouch is set to false.

I was just pointing out how it's not like it's ignoring handleTouch because the behaviour is different from this issue. When handleTouch is enabled you can smoothly drag the zoom around which sounds like that was the issue in #220. In this particular case the behaviour is different as it only appears on tap and ca

[2019-07-18 05:49] sherwinski commented on #273
Hey @billythekid,

Thanks for confirming the version. After doing some more digging I think I see the issue now. Even if we set `handleTouch` to false, tapping the image on mobile will still trigger a `mouseenter` event, which in turn will activate the zoom.
[code]
So as you pointed out it, is a different issue from #220. It won't matter if `handleTouch` is being set correctly if we're ultimately

[2019-07-18 09:03] billythekid commented on #273
Thanks for this,

Yeah I know that [detecting touchscreens](https://stackoverflow.com/a/4819886) is [notoriously difficult](http://www.stucox.com/blog/you-cant-detect-a-touchscreen/) to do accurately but in my case I can probably disable drift on touchstart or actually just media query `display: none;` in css at the smaller screen layout as a filthy workaround for now.

Thanks for looking into thi

[2019-07-23 20:57] sherwinski commented on #60
Hey @michaelbromley, thanks for the workaround and I definitely agree with your suggestion. I plan to work on incorporating this fix sometime into the project in the near future 👍

Relates to #73

[2019-07-28 04:35] #60 closed

[2019-08-02 21:44] #273 closed

[2019-08-02 22:30] #73 closed

[2019-08-02 22:46] sherwinski commented on #273
Hey @billythekid, this fix is released now as part of [v1.3.5](https://github.com/imgix/drift/releases/tag/v1.3.5) 🎉

[2019-08-02 22:47] sherwinski commented on #60
Hi everyone, the fix for this is released now in [v1.3.5](https://github.com/imgix/drift/releases/tag/v1.3.5) 🎉

[2019-08-16 13:44] Melir91 opened #305 "Fetch the image only once"
Hello guys, first want to say thank you for great library, it's really useful! I wanted to ask is there a way to store fetched image on second hover to prevent loading it every time?

[2019-08-22 18:15] sherwinski commented on #305
Hey @Melir91 glad to hear you like the library!
To answer your question, your browser should cache the image after first load so there shouldn't have to be any subsequent reloading.
On a related note, we might be able to improve a user's experience by setting the element to `display:none` after unhover. This is something I'd like to explore in the future, or would be willing to accept a PR for.

[2019-08-23 11:19] sarathak commented on #74
i'm doing this way

if(typeof(document) == 'undefined')
        return;
  const Drift = require('drift-zoom').default;

[2019-08-29 23:08] sherwinski commented on #236
Hey @thomas-obernberger sorry for the silence on this issue so far, it's taken a few tries but I finally have some updates.

First to address the inline cuts, I noticed that the overlay image used in your example has `Content-Disposition: attachment` in its response header. I suspect that might be why in _some_ cases the inline cuts occur, as it may [interact strangely](https://developer.mozilla.o

[2019-08-29 23:52] thomas-obernberger commented on #236
Hey @sherwinski !

nothing to be sorry about. i am actually happy you got a sight on it and providing me feedback.
Thank you for this information. It's pretty useful and i am looking forward for the patch!

a small offtopic question: is there a convenient way to change the zoom factor immediately without having to hack the mouseenter/mousemove events? (for example: manually handled mousewheel zoom

[2019-08-31 04:15] sherwinski commented on #236
If I understand your question correctly, no I don't think there is a convenient way to change the zoom factor on the fly. But I agree that would be a cool feature! Please feel free to open a new issue for it, thanks.

[2019-09-04 20:05] #77 closed

[2019-09-05 17:45] Goufoux opened #323 "Inversed image"
Hello,

I have a question, if my image has the property css scaleY (-1), it is not taken into account by drift which displays my image, is there any way to configure this?

If I try to adjust scaleY (-1) to derive-zoom-pane it is not taken into account

Thank you in advance for the answers :)

[2019-09-06 21:44] #236 closed

[2019-09-09 06:20] Goufoux commented on #323
I close this issue because i found a solution !

[2019-09-09 06:20] #323 closed

[2019-09-09 18:49] sherwinski commented on #323
Hey @Goufoux, glad you were able to find a solution!
I started looking into this issue yesterday and think it's because we are already applying a `transform` property to the `drift-zoom-pane` element -- so it was likely overwriting the `scaleY` property you added.
Mind sharing what your solution was? I am just curious.

[2019-09-09 19:22] Goufoux commented on #323
Hello sherwinski,

I transform my images after their upload (in PHP) to provide the image corresponding to the property data-zoom, it is the only solution that I found for the moment (and for lack of time for my project), I would be happy to know if this would be possible afterwards not to have to transform my images and to be able to apply the property on the drift-zoom-pane!

[2019-09-09 20:21] sherwinski commented on #323
If you happen to be serving your images through [imgix](https://www.imgix.com/), you can easily [apply the `flip=v`](https://docs.imgix.com/apis/url/rotation/flip) query parameter and imgix will transform the image for you.
But if you still want to go the CSS route, you will need to find a way to append `scaleY(-1)` to the `transform` property on the zoomed image -- as described in this [SO post](

[2019-10-19 06:08] songoten28 commented on #74
Full code:

`let Drift;
if (typeof window !== 'undefined') {
    Drift = require('drift-zoom').default
}`

[2019-10-19 15:59] songoten28 opened #352 "The Zoom view not correct with canvas ( object-fit: contain)"
When im using object-fit: cover in canvas. It working correct.
And then Im change follow this one **fitImageOn**
https://sadique.io/blog/2013/10/03/fitting-an-image-in-to-a-canvas-object/
Now Zoom image View it not correct.
Im already try to set style for canvas but failed and I don't see any option to set style for ZoomPane
My code
[code]

Here is gif file

![e49f605ec126](https://user-images.git

[2019-10-22 12:24] frederickfogerty opened #353 "Support contributors by displaying them in README.md using all-contributors bot"
**Before you submit:**

- [x] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/drift/issues?utf8=%E2%9C%93&q=is%3Aissue
- [x] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a probl

[2019-11-01 21:56] sherwinski commented on #353
Hey @frederickfogerty, the all-contributors bot should now be installed. Feel free to use this thread to add anyone for their specific contributions.

Contribution types can be found here: https://allcontributors.org/docs/en/emoji-key

[2019-11-02 11:50] frederickfogerty commented on #353
@all-contributors please add @paulstraw for docs, code, and maintenance

[2019-11-02 11:52] frederickfogerty commented on #353
@allcontributors please add @sherwinski for code, docs, and maintenance

[2019-11-02 11:54] frederickfogerty commented on #353
@allcontributors please add @frederickfogerty for code, docs, and maintenance

[2019-11-02 11:54] frederickfogerty commented on #353
@allcontributors please add @jayeb for code, docs, and maintenance

[2019-11-04 20:26] #353 closed

[2019-11-16 22:06] scheMeZa opened #370 "[Question] Setting touchdelay to 1000 (1 second) not allowing scroll."
On mobile, I'd like users to be able to scroll over the picture as they would without the package - and only if they touch on the image for 1000ms that it would zoom into the picture.

Here is my configuration:
[code]

The outcome of this is that users _cannot scroll like normal_ (the viewport stays still when trying to scroll from the image), but if they do touch over the image for the given 1000

[2019-12-04 09:48] devaman opened #380 "Drift for react js."
It would be really great if drift can be used in reactjs apps, simply out of box. Right now integrating it with react js is little bit complex.

[2020-01-04 10:44] tanero commented on #370
I have the same issue, is there any workaround?  Basicly I do not want to be drift actived for mobile phones. It does not allow to scrool the page when the finger over image or swap.

[2020-01-04 10:48] tanero commented on #56
css fix disable hovebox but not allow user to swap or scrool page or dom on image, it is not totaly solution. It shoud not be activated on mobile devices.

[2020-01-04 12:09] tanero commented on #56
I have found a quick fix on my side, by adding touchDelay good enough timing to let user scrool image to, like touchDelay: 10000.  On mobile devices basicly touch event not fired, until time ends.

[2020-01-04 12:10] tanero commented on #370
I have found a quick fix on my side, by adding touchDelay good enough timing to let user scrool image to, like touchDelay: 10000.  On mobile devices basicly touch event not fired, until time ends.

[2020-01-16 17:15] bci24 commented on #56
thx @tanero for the tip ;)

Now I can scroll the image on mobile and the drft is not active on touch.

[2020-01-23 04:26] miljan-aleksic commented on #74
I have open a PR (https://github.com/imgix/drift/pull/407) in attempt to fix this issue, but I might need some help in the testing part as requested by the maintainers.

[2020-03-01 17:01] Andrav90 opened #423 "JS Drift Zoom on 3 photos at the same time, at the same coordinates (on hover)"
Hi! I am using the Drift Zoom library to display 3 photos on my page, positioned one under the other.

This is the code I'm using, the basic code, just a little bit changed:

function createImage(index){
  var demoArea = document.createElement('div');
  demoArea.setAttribute('class', 'demo-area');
  var img = document.createElement('img');
  img.setAttribute('class', 'demo-trigger');
  img.setAttr

[2020-03-18 14:22] Giovancruz commented on #56
I confirm, setting touchDelay resolve the scroll on mobile devices but disables drift on desktop. This is related in this issue #370

[2020-03-18 14:22] Giovancruz commented on #370
Setting touchDelay resolve the scroll on mobile devices but disables drift on desktop

[2020-04-01 16:25] gracetouseef opened #437 "Drift initialize on multiple items"
Hello guyz, First of all wana say thank you for this great plugin. Am using owl-carousel this works only in first item of the owl-carousel, is there any way i can initialize on the other items.
<div class="owl-carousel owl-theme">
<div class="item">
    <img class="demo-trigger" src="https://demos.imgix.net/wristwatch.jpg?w=200&ch=DPR&dpr=2&border=1,ddd" data-zoom="https://demos.imgix.net/wristwat

[2020-04-01 22:14] ericdeansanchez commented on #437
Hey @gracetouseef thanks for opening up this issue! I'm going to look into this a little bit to hopefully get back to you with a solid answer/guidance on this.

[2020-04-01 23:49] ericdeansanchez commented on #437
@gracetouseef while looking into this I found that [OwlCarousel2](https://github.com/OwlCarousel2/OwlCarousel2) has been deprecated as of Jul 31, 2019. _However, I am still looking into this_. Hopefully, we can reach a solution that works with the version of Owl Carousel you are using :)

[2020-04-11 08:46] vkappie opened #444 "document is undefined when library included in SSR application"
**Describe the bug**
When library included in SSR I cannot start application since ZoomPane.js has global document reference on line 6
![image](https://user-images.githubusercontent.com/6415884/79039477-b2888f80-7c0b-11ea-9006-fb830c65963f.png)

**To Reproduce**
Include library to any SSR project on Angluar

**Expected behaviour**
There's check for document is undefined as in the code below (ZoomP

[2020-04-11 08:57] vkappie commented on #444
closed in favor of https://github.com/imgix/drift/pull/407

[2020-04-11 08:57] #444 closed

[2020-04-22 23:14] ericdeansanchez commented on #437
Hello @gracetouseef I was hoping to do some more work to help you out on this, but I was hoping to get a few more details about the issues you're having.

Could you explain a bit more about

Thanks! :)

[2020-05-07 17:34] ricardocanelas opened #456 "The image is loading twice"
I don't know if it is a bug or problem of the browser... but after I put the mouse over the image, the Drift-Zoom is loading again the same image.

In my case, I have a big image that I resize by CSS, and I would like to use the same image to the zoom.

Is there any way to fix it?

![capture-devtool](https://user-images.githubusercontent.com/663151/81325900-6a745580-906f-11ea-899e-f3b767a66d60.JPG

[2020-05-07 17:40] ricardocanelas commented on #456
My code:

[code]

[code]

[2020-05-13 11:28] #456 closed

[2020-05-16 16:31] ashug0001 commented on #437
Hello @gracetouseef from what I can see you are using `document.querySelector`, this will return a single image, you can use `document.querySelectorAll` to get all the image and call constructor inside a loop, it worked for me.
<pre>
var driftImgs = document.querySelectorAll('.drift-img');
var pane = document.querySelector('.drift-pane');
driftImgs.forEach(img => {
    new Drift(img, {
	paneContai

[2020-05-22 09:02] azatris commented on #380
Same goes for vue.js.

[2020-05-30 15:51] Old-Professor opened #470 "I would like to Drift over more than one image"
I would like to have multiple images on my page and be able to any one of them. I tried several variations like the following. In all cases the second image never appears. I get two instances of the first image and only the first works with drift. What should I do?
`  <body>
    <div>
    <img class="drift-demo-trigger" data-zoom="IMG%20Files/1-1600.jpg"

        src="IMG%20Files/1-180.jpg"></div>

[2020-06-01 21:52] ericdeansanchez commented on #470
Hey 👋 thanks for opening this issue! I am going to be looking into this for you. The example above is very much appreciated and I'll ping you if I find I need anymore details.

[2020-06-09 05:03] AdityaAnand1 commented on #56
Any fix for this? 3 years :/

[2020-07-14 22:14] Giovancruz commented on #56
My workaround to fix this was creating a global variable and toggle destroy on mobile, using code like this:
[code]

[2020-08-20 10:37] BlackMambaCH commented on #56
Came to the same problem and want to share my solution with you. I added a transparent ::before Element, which is placed hover the image, so no touch event gets fired. The ::before element can be disabled on larger screens. .zoom-image is a div, which wraps the <img> itself.
`.zoom-image {
     position: relative;
}
.zoom-image::before {
content: "";
     position: absolute;
     top: 0;
     left

[2020-09-10 12:58] frederickfogerty commented on #56
Hey all, this is something that we believe is best solved in user-land due to the complexity of the issue. I've added some example solutions to the README which you will be able to look at once #519 is merged!

[2020-09-10 12:59] frederickfogerty commented on #470
Hey all, this is something that we believe is best solved in user-land due to the complexity of the issue. I've added some example solutions to the README which you will be able to look at once #519 is merged!

[2020-09-10 12:59] frederickfogerty commented on #437
Hey all, this is something that we believe is best solved in user-land due to the complexity of the issue. I've added @ashug0001's solution to the README which you will be able to look at once #519 is merged!

[2020-09-11 03:26] #56 closed

[2020-09-11 03:26] #437 closed

[2020-09-11 03:26] #470 closed

[2020-10-08 21:51] mprydz opened #527 "NPM package README needs to be updated"
Found the package on npm but noticed it's missing some info on the npm readme vs the github readme.

[2020-10-08 22:35] ericdeansanchez commented on #527
Hey 👋 thanks for opening this issue! At this moment I can see a couple discrepancies.

Was there anything in particular you would like to see in the NPM readme that is in the GitHub readme (or vice versa)?

[2020-10-08 22:48] sherwinski commented on #527
Looks like #519 is the big one in addition to some general restructuring from last year. We'll publish a new release and get these sync'd up 👍

[2020-10-09 23:46] #527 closed

[2020-10-15 21:14] wiesson commented on #380
Regarding react:

[code]

[2021-01-08 16:51] lmuzquiz opened #581 "Demo url on readme.md file points to 404 error"
The link to the demo within the Usage section leads to a 404 Error

.... take a peek at our demo. Here's an example of a basic implementation...

Updated your readme.md with the url you have on codepen: https://codepen.io/imgix/pen/WrRmLb and made a pull request

[2021-01-12 20:32] #581 closed

[2021-01-21 13:15] renovate[bot] opened #589 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:25] #589 closed

[2021-02-12 12:32] yesman82 opened #595 "Content-Security-Policy blocking inline styles"
**Describe the bug**
CSP is used to prevent loading of unknown (external) content.

When using the CSP header ([MDN - Content-Security-Policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP)) errors regarding inline styles are thrown.

Errors from Chrome
[code]
leading to ```head.insertBefore(styleEl, head.firstChild);``` which inserts a style node.
[code]
which leads to ```this.el.setAttri

[2021-02-13 05:08] sherwinski commented on #595
Hey @yesman82, thanks for opening this issue. We'll look into this and reply back sometime in the next few days 👍

[2021-02-18 20:50] #595 closed

[2021-02-18 23:16] sherwinski commented on #595
Hey @yesman82, you should find the fix for this issue in [v1.4.2](https://github.com/imgix/drift/releases/tag/v1.4.2) 🎉

[2021-02-19 18:23] abvas opened #603 "The demo on the index.html page from the drift-main folder works very crookedly."
Version 1.4.2
The demo on the index.html page from the drift-main folder works very crookedly. Doesn't work in my application either.
I tried the same error in Firefox 85 and Google Chrome 88 browsers.
Although version v1.4.1 worked correctly.
What do you recommend. Maybe I upupsit something and did something wrong?
Thank!

[2021-02-22 09:56] frederickfogerty commented on #603
Hi there @abvas, thank you for opening this issue 👋  I will see if we can internally schedule some time this week to take a look at this. We'll get back to you on here

[2021-03-05 14:17] luqven commented on #603
Hey @abvas, the latest [release](https://github.com/imgix/drift/releases/tag/v1.4.3) should address the index.html example page issues. Thanks again for bringing this to our attention.
Please feel free to open this issue again if there’s anything we missed.

[2021-03-05 14:17] #603 closed

[2021-03-10 01:31] luqven commented on #595
Hey @yesman82 , we’ve looked into this Content Security Policy (CSP) issue some more and wanted to give an update.
We initially hoped that by directly modifying attributes instead of using `setAttribute()` we could sidestep CSPs that blocked our scripts. After some trial and error, it became evident that, by design, CSPs are difficult and at times nearly impossible to bypass if they are especially

[2021-03-29 07:51] renovate[bot] opened #633 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to ignore the schedule.
 - [ ] chore(dev-deps): update dependency karma-webpack to v5
 - [ ] chore(dev-deps): update dependency webpack to v5
 - [ ] chore(deps): lock file maintenance

## Open

These updates have all been created already. Click a

[2021-04-29 10:04] cinghaman commented on #55
@timrombergjakobsson i know its a long while but by chance you have the code you did, i am trying to do similar have a slider and want to do zoom on each image when thy come in viewport
my code
`window.addEventListener('DOMContentLoaded', function() {
  (function ($) {
   $(document).ready(function ($) {
      const driftImgs = document.querySelectorAll('.zoom-it');
      console.log('drifImgs', d

[2021-04-30 23:28] mateusmrosa commented on #33
$(document).ready(function() {
    $(window).scroll(function() {
        var scroll = window.scrollY
        if (scroll > 20) {
            $('.navbar').addClass("sticky")
        } else {
            $('.navbar').removeClass("sticky")

        }
    })
})

[2021-06-28 05:39] Sanjayavidbrio commented on #56
@frederickfogerty   thanks for the mobile solution

[2021-08-09 04:15] BrayanCaro opened #640 "Add passive option to event listeners"
**Before you submit:**

- [X] Please search through the existing issues (both open AND closed) to see if your feature has already been discussed. Github issue search can be used for this: https://github.com/imgix/drift/issues?utf8=%E2%9C%93&q=is%3Aissue
- [X] Please take a moment to find out whether your idea fits with the scope and aims of the project

**Is your feature request related to a probl

[2021-08-09 18:32] frederickfogerty commented on #640
Hey, thanks for the issue @BrayanCaro. I've added to this to our backlog, and hopefully we can tackle it at some point. On the other hand, if you'd like to submit a PR for this, we'd be glad to accept it!

[2021-08-11 10:16] frederickfogerty commented on #640
Sounds good @BrayanCaro, let me know if you need any support from our side!

[2021-08-23 14:48] #640 closed

[2021-09-02 06:32] bernardo-martinez opened #644 "Lazy-load images"
Hello guys! first of all: really nice library thanks a lot for it!
My question is: is there an option to lazy-load the images? As images are big, if i have multiple drifts on my page i'd like to only load the images that the user actually wants to zoom in to improve performance...

Thanks!

[2021-09-13 10:39] frederickfogerty commented on #644
Hey there @bernardo-martinez 👋 thanks for the question and sorry for the delayed reply. Unfortunately there is no out-of-the-box method to do lazy loading at this stage in this library.

At this stage I could only think of using a user-side scroll listener to only initialise Drift once the user has scrolled to that image, or hovers over it for example.

Let me know if you think of any other ideas!

[2021-09-13 11:30] bernardo-martinez commented on #644
Thanks Frederick, I will try to think on the best approach and discuss it here with you, maybe i will arrange some time to work on a solution

My problem would not be solved by the scrolling listener cause the Drifts are loaded on a pop-up element only when client clicks on 'quick preview' on each product. So I have a homepage with multiple 'most viewed' products that are loading the big images on

[2021-10-07 17:37] imgix-git-robot opened #646 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2021-10-08 13:23] #646 closed

[2021-10-18 15:15] claudio147 opened #647 "Passive event listeners don't allow preventDefault()"
It seems that you register the event listeners with the options parameter `false` as default.
The browser changes this options to
![image](https://user-images.githubusercontent.com/12095490/137759379-d04b6e7c-1143-478b-bad3-2ceb50d10418.png)

Happens in this Method (_Trigger.js_):
[code]

Guess when you define the options instead of just using "false" as an option parameter will fix this issue.

*

[2021-10-19 05:18] sherwinski commented on #647
Hey @claudio147 thanks for opening this issue. I'll look into this over the next day or so and get back to you with any updates.

[2022-01-13 12:49] alexpi opened #655 "paneContainer is moving with touch dragging"
Hello,

I have this issue where the paneContainer is moving on the page along with touch dragging. You can see an example here: [link](https://antigoni.com/en/products/gouri-2022-vrachioli-me-idrogio). Any ideas?

[2022-01-13 18:10] sherwinski commented on #655
Hey @alexpi I'm happy to look into this with the team. It would help us significantly if you could provide a minimal code reproduction that displays this issue in action.

Screen capture of the issue for any curious:

https://user-images.githubusercontent.com/15919091/149385235-bd34c995-681a-48c3-af33-025121c993dc.mov

[2022-01-13 20:33] alexpi commented on #655
Thanks @sherwinski. I created an example with minimal code here: https://codepen.io/alexpi/pen/JjrwrpE.

[2022-01-27 23:41] sherwinski commented on #655
Thanks @alexpi, I've been on vacation recently but either I or someone on the team will take a look at this in the next week or so.

[2022-03-02 09:59] claudio147 commented on #647
@sherwinski Any updates on this?

[2022-03-10 17:37] a-tonchev commented on #380
Don't forget to use destroy when unmounting component.

I would recommend to place Drift outside the component, so that you don't reload the library every time you open the component.

[code]

[2022-03-10 17:40] a-tonchev opened #656 "Is there a way to show the zoomed area around the mouse?"
Is there a way to see in a rectangle the zoomed area around the mouse, e.g. something like this:

![image](https://user-images.githubusercontent.com/54528540/157722858-628ac3b9-218c-4b10-a60e-5d45623e8ada.png)

[2022-03-11 08:32] frederickfogerty commented on #656
Hey @a-tonchev, thanks for opening the issue. At this stage no, but we'd be happy to have a PR to implement this functionality if you feel like it. For now I'm going to close this issue as we won't likely find a place on our roadmap to implement this.

[2022-03-11 08:32] #656 closed

[2022-06-22 21:27] sherwinski commented on #380
Closing as there hasn't been much activity on here lately and it looks like several answers have been provided.

[2022-06-22 21:27] #380 closed

[2022-06-22 21:28] #423 closed

[2022-06-22 21:49] sherwinski commented on #74
Closing as there hasn't been much activity on here lately and it looks like several answers have been provided.

[2022-06-22 21:49] #74 closed

[2022-06-22 21:50] sherwinski commented on #59
Closing as there hasn't been much activity on here lately and it looks like an answer has been provided.

[2022-06-22 21:50] #59 closed

[2022-09-27 12:45] RedPlugDesign opened #665 "Zoom & RTL"
@paulstraw I have an issue with right to left language and my current set up.  I believe it is from how the code calculates the 'right' positioning of the image, but I cannot verify.

Examples:
- Default (LTR): https://clothing-filter-theme.myshopify.com/collections/mens-t-shirts/products/avenue-demo-product
- RTL: https://clothing-filter-theme.myshopify.com/ar/collections/mens-t-shirts/products/a

[2022-09-27 17:00] luqven commented on #647
Hey @claudio147, I'm sorry it's been a while. We had some high priorities issues that took our eye off the ball here.

We're still planning on getting to this. I can't give you an exact time estimate, but we'll update you as soon as we get a chance to tackle this.

Thanks again for reporting this issue.

[2022-09-27 17:04] luqven commented on #655
He @alexpi, I'm sorry for the delay getting back to you. We've had some high-priority items come up keeping us from being able to tackle this.

I can't give you an exact time estimate but we still plan to tackle this issue. We'll update you as soon as we have a chance to work on this.

[2022-09-27 17:06] luqven commented on #352
I'm going to go ahead and close this issue since it's been quiet for some time. If you're still experiencing this problem please do comment and I'll be glad to open it up again.

[2022-09-27 17:06] #352 closed

[2022-09-27 17:15] luqven commented on #665
Hey @RedPlugDesign 👋🏼

Thanks for opening this issue! While I can't give you a time estimate, we'll look into this and get back to you.

In the meantime, any additional context about how the example "[Default (LTR)](https://clothing-filter-theme.myshopify.com/collections/mens-t-shirts/products/avenue-demo-product)" you provided differs from the "[RTL](https://clothing-filter-theme.myshopify.com/ar

[2022-09-27 17:30] RedPlugDesign commented on #665
Mainly just the floats, padding and text alignment.  Aside from the column container, nothing specifically applied to the images or zoom container

[2022-09-30 17:14] luqven commented on #644
Hey @bernardo-martinez ,

I wanted to check in on this quickly.

We still don't have room in the roadmap to tackle it just yet. Once we've had a chance to work through our backlog, we'll return to this ticket and re-evaluate tackling this.

Until then I'm leaving this ticket open to gauge community interest in this feature. If anyone else would like to see this added, please feel free to leave a c

[2022-10-03 21:50] luqven commented on #665
Hey @RedPlugDesign,

I wanted to let you know that we had a chance to discuss this as a team and determined that we don't currently have the bandwidth to tackle RTL support right now. I'll leave this ticket open and we'll come back to it when we've had a chance to clear our backlog.

In the meantime, if anyone else would like to see support for this feature comment or react to this post. This will

[2022-10-04 11:55] RedPlugDesign commented on #665
Disappointing, but understandable.

[2022-10-04 19:07] PeritusDeveloper commented on #226
I would like to work on this issue

[2022-10-04 19:33] atlawrie commented on #226
Hi @PeritusDeveloper, thank you so much for letting us know, I'll go ahead and assign you to this issue.

If you haven't already, I would recommend checking out our contributing guide (CONTRIBUTING.md) - there's a few potential gotchas with how we need to title and format our commits to have everything in our pipeline work together nicely.

[2022-10-04 20:21] PeritusDeveloper commented on #226
Sure I will go through the contributing guide.
I was planning to add gifs to make the demo noticeable

[2022-10-04 21:51] atlawrie commented on #226
Hi @PeritusDeveloper , apologies for the confusion! The issue isn’t that the demo itself isn’t very noticeable, it’s that the link to the demo is hard to find in the context of the readme. The initial comment in the thread outlines a proposed solution, but if you have other suggestions feel free to comment your proposed changes in this thread.

[2022-10-05 02:57] sisco0 commented on #226
Considering that this is my first contribution to the project, could you kindly check that PR #671 is as expected? **Thank you and have a great day**!

[2022-10-05 03:56] sisco0 commented on #647
@claudio147 , could you kindly test the given PR #672 and see if the issue persists?
Thank you!

[2022-10-06 03:21] atlawrie commented on #226
Hi @sisco0, for the purpose of Octoberfest we're going to work with Peritus on this issue, since they had already expressed their interest and submitted a PR. Thank you very much for your interest though, and hopefully your other PR will serve as a good learning experience in this issue's place.

[2022-10-10 19:20] #647 closed

[2022-10-11 16:36] #226 closed

[2022-11-15 12:25] dngraphisme opened #680 "TypeError: driftImgs.map is not a function"
Hello team @paulstraw ,

Thank you for the library however i have a problem that i can't solve.

I need to work on a viewer in my webpack stack for product sheet under Prestashop 1.7

If I use this code to do a foreach on several images

[code]

I get this error: TypeError: **driftImgs.map is not a function**

----

I work with Jquery, so I tried an each function on the class: .drift-img

But ther

[2022-11-15 12:32] dngraphisme commented on #680
Ok I got it with this code :

[code]

Thanks again :)

[2022-11-15 19:47] atlawrie commented on #680
Hello! I'm gonna go ahead and close this ticket since it looks like you've gotten it working; feel free to reopen if this is still posing problems.

[2022-11-15 19:47] #680 closed